Django>=5.2,<5.3
djangorestframework>=3.16,<3.17
django-environ>=0.12
PyMySQL>=1.1
cryptography>=44
redis>=5.2
whitenoise>=6.9
pandas>=2.2
numpy>=2.0
requests>=2.32
drf-spectacular>=0.28
sentry-sdk>=2.30
